<div *ngIf="products">   
    <div *ngFor="let p of products._embedded.products">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-header">{{p.name}}</div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <img src="{{this.catService.host+'/photoProduct/'+p.id}}"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>